.chat-window{

background-color: #212121;
height: 100vh;
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
text-align: center;

}
.navbar{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;



}
.navbar span{

margin : 1rem 2rem;



}
.userIcon{
  margin : 1rem 2rem; 

}

#ui{
    background-color: blue;
    height: 25px;
    width: 25px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.chatInput{

width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0.5rem;


}
.userInput{
width: 100%;
display: flex;

justify-content: space-between;
align-items: center;
max-width: 800px;
position: relative;
}
input{
width: 100%;
height: 40px;
border: none;
background-color: #424242;
color: #ececec;
padding: 0.5rem;
border-radius: 15px;
font-size: 0.8rem;

}
input:focus{
outline: none;
}
.info{
    font-size: 0.8rem;
    color: #ececec;
    margin-top: 0.5rem;
    padding: 0.5rem ;
}
#submit{
    background-color: #424242;
    color: #ececec;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    margin: 0 0.5rem;
        }
        .userMenu{
            position: absolute;
            top: 45px;
            right: 4rem;
            background-color: #424242;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0.5rem 0;
        }
        .dropDownItem{
            padding: 0.5rem 1rem;
            color: #ececec;
            cursor: pointer;
            width: 100%;
            text-align: center;
        }
        .dropDownItem:hover{    
            background-color: #616161;
        }       