.sidebar{
    background-color: #171717;
    color: #b4b4b4;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
height: 20px;
margin: 20px;
width: 25px;
}

button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px;
    padding: 6px;
    border-radius: 14px;
    background-color: transparent;
    border: 1px solid #444;
}

button span{
font-size: 20px;


}
.history{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    height: 100%;
}
.history li {
   list-style-type: none;
   cursor: pointer;
    padding: 4px;
    margin-bottom: 0.3rem;
}
button:hover{

    background-color: #333  ;
}
.history li:hover{
    background-color: #333  ;
    border-radius: 10px;
}  

.settings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-top: #b4b4b4 1px solid ;
}
